<h2> {{ item }} </h2>
<ul>
    <li>Quantidade = {{ item.quantity_item }}</li>
    <li>Tipo: {{ item.item_type.description_item}}</li>
    <li>Tipo da unidade: {{ item.unity_type.description_unity}}</li>
    {% if item.unity_type.size %}
        <li>Tamanho da unidade: {{ item.unity_type.size}}</li>
    {% endif %}
</ul>

<a href="{% url 'items:items_edit' pk=item.id %}">Editar</a>
<form action="{% url 'items:items_delete' pk=item.id %}" method="post">
    {% csrf_token %}
    <input type="submit" onclick="return confirm('Tem certeza que deseja deletar?')" value="Deletar item">
</form>
